[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/sheiksaga/hugo-PaperMod
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/sheiksaga/hugo-bearcub
